<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056336430812-090mkevum3tqdh2si97qh9ssv5r2ptvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056336430812-090mkevum3tqdh2si97qh9ssv5r2ptvs</string>
	<key>API_KEY</key>
	<string>AIzaSyBI_qMUEiMiCD---TdAQkpQaT6Lwwm-mds</string>
	<key>GCM_SENDER_ID</key>
	<string>1056336430812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project1</string>
	<key>PROJECT_ID</key>
	<string>project1-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>project1-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056336430812:ios:50985026cde82f78fbd619</string>
</dict>
</plist>